
.jquery .define a  {
	background-image: url(https://frankdevhub.github.io/static/img/jquery.jpg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-origin: border-box;
	
	display: inline-block; width: 100px; height: 100px;
	border-width: 50px;
	border-color: rgba(0,0,0,0);
	
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
}

.define a:hover {
	border-width: 0;
	border-color: rgba(0, 0, 0, 0.5);
}
.define .one{border-style: solid;}
.define .two{border-style: dashed;}
.define .three{border-style: dotted;}
.define .yon {border: 50px solid rgba(0, 0, 0, 0.7);}
.define .goo {border: 50px dashed rgba(0, 0, 0, 0.7);}
.define .rok {border: 50px dotted rgba(0, 0, 0, 0.7);}
.define .ryk {border: 50px double rgba(0, 0, 0, 0.7);}
.define .yon:hover{border: 1px solid rgba(0, 0, 0, 0.7);}
.define .goo:hover{border: 1px dashed rgba(0, 0, 0, 0.7);}
.define .rok:hover{border: 1px dotted rgba(0, 0, 0, 0.7);}
.define .ryk:hover{border: 1px double rgba(0, 0, 0, 0.7);}

.define .x7, .define .x8, .define .x9 {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.define .x7 {border: 50px solid rgba(0, 0, 0, 0.7);}
.define .x8 {border: 50px dashed rgba(0, 0, 0, 0.7);}
.define .x9 {border: 50px dotted rgba(0, 0, 0, 0.7);}
.define .x7:hover {border: 1px solid rgba(0, 0, 0, 0.7);}
.define .x8:hover {border: 1px dashed rgba(0, 0, 0, 0.7);}
.define .x9:hover {border: 1px dotted rgba(0, 0, 0, 0.7);}


	
	