  <div id="rotate">
            <ul>
                <li><a href="#fragment-1"><span>Section 1</span></a></li>
                <li><a href="#fragment-2"><span>Section 2</span></a></li>
            </ul>
            <div id="fragment-1">
                <!--netease-->
						 <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
									<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
									<script>
										var cloudTieConfig = {
												url: document.location.href, 
												sourceId: "",
												productKey: "14f7fedac9ee40c2b79116f0e0bb678a",
												target: "cloud-tie-wrapper"
												};
										var yunManualLoad = true;
										Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);
									</script>
			   
            </div>
            <div id="fragment-2">
               <div id="disqus_thread"></div>
									<script type="text/javascript">

										/**
									     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
			                             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                                        /*
											var disqus_config = function () {
											this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
										    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
											};
                                         */
                                        (function() { // DON'T EDIT BELOW THIS LINE
                                           var d = document, s = d.createElement('script');
										   s.src = 'https://frankdevhub-github-io.disqus.com/embed.js';
                                           //s.src = 'https://disqus.com/embed.js';
											s.setAttribute('data-timestamp', +new Date());
											(d.head || d.body).appendChild(s);
											})();
											</script>
											<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
																		</div>
            </div>
    </div>