<div class="post-recent">
    <div class="pre">
        {% if page.previous %}
        <p><strong>上一篇</strong> <a href="{{ page.previous.url | prepend: site.baseurl }}">{{ page.previous.title }}</a></p>
        {% endif %}
    </div>
    <div class="nex">

        {% if page.next %}
        <p><strong>下一篇</strong> <a href="{{ page.next.url | prepend: site.baseurl }}">{{ page.next.title }}</a></p>
        {% endif %}
    </div>
    
    <div>
         {% if site.social-share %}
            <div class="social-share-wrapper">
            <div class="social-share" data-initialized="true" data-sites="wechat,weibo,google,facebook,twitter">
		    <a href="#" class="social-share-icon icon-wechat"></a>
		    <a href="#" class="social-share-icon icon-weibo"></a>
		    <a href="#" class="social-share-icon icon-google"></a>
		    <a href="#" class="social-share-icon icon-facebook"></a>
		    <a href="#" class="social-share-icon icon-twitter"></a>
	    </div>
            </div>
          {% endif %}
	  <script type="text/javascript">
		socialShare('.social-share', {
			  sites: [
				{% for i in site.social-share-items %}
				  '{{ i }}'
				  {% if forloop.last == false %},
				  {% endif %}
				{% endfor %}
			  ],
			  wechatQrcodeTitle: "分享到微信朋友圈",
			  wechatQrcodeHelper: '<p>扫码后点击右上角</p><p>将本文分享至朋友圈</p>'
		 });	
	 </script>		  	    	
    </div>
</div>
