
body .container {
  width: 850px;
  margin: 70px auto 0px auto;
  text-align: center;
}
body .container h1 {
  font-family: 'Droid Serif', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  margin-bottom: 30px;
}
body .container h1 span {
  font-weight: 700;
  font-style: italic;
  color: #D90368;
  border-bottom: 2px dashed currentColor;
}
body .container .button-effect {
  padding: 30px 0px;
}
body .container .button-effect h2 {
  font-family: 'Droid Serif', serif;
  font-size: 20px;
  margin-bottom: 40px;
}
body .container .button-effect a {
  margin-right: 17px;
}
body .container .button-effect a:nth-child(2) {
  background-color: #541388;
}
body .container .button-effect a:nth-child(3) {
  background-color: #D90368;
}
body .container .button-effect a:nth-child(4) {
  background-color: #104547;
}
body .container .button-effect a:nth-child(5) {
  background-color: #4F000B;
}
body .container .button-effect a:nth-child(6) {
  background-color: #F28123;
}
body .container .button-effect a:last-child {
  margin-right: 0px;
}

.effect {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding: 20px 0px;
  width: 150px;
  border-radius: 6px;
  overflow: hidden;
}

.effect.effect-1 {
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.effect.effect-1:before {
  content: "\f178";
  font-family: FontAwesome;
  font-size: 15px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 0;
  top: 0;
  opacity: 0;
  height: 100%;
  width: 40px;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.effect.effect-1:hover {
  text-indent: -20px;
}
.effect.effect-1:hover:before {
  opacity: 1;
  text-indent: 0px;
}

.effect.effect-2 {
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.effect.effect-2:before {
  content: "\f0a4";
  font-family: FontAwesome;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  right: -30px;
  width: 30px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0px 6px 6px 0px;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  text-align: center;
}
.effect.effect-2:hover {
  text-indent: -30px;
}
.effect.effect-2:hover:before {
  right: 0;
  text-indent: 0px;
}


