<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

        {{ content }}

		  <!-- social share start -->
		 
		 {% if site.social-share %}
            <div class="social-share-wrapper">
			aaa
            <div class="social-share"></div>
            </div>
          {% endif %}
		 
		  <script src="/js/social-share.min.js"></script>
		  <script>
			socialShare('.social-share', {
			  sites: [
				{% for i in site.social-share-items %}
				  '{{ i }}'
				  {% if forloop.last == false %},
				  {% endif %}
				{% endfor %}
			  ],
			  wechatQrcodeTitle: "分享到微信朋友圈",
			  wechatQrcodeHelper: '<p>扫码后点击右上角</p><p>将本文分享至朋友圈</p>'
			});
		  </script>
		  <!-- social share end -->
		
    {% include footer.html %}
    {% include backToTop.html %}
    <script src="{{ " /js/main.js " | prepend: site.baseurl }}" charset="utf-8"></script>
    <script src="{{ " /js/smooth-scroll.min.js " | prepend: site.baseurl }}" charset="utf-8"></script>
    <script type="text/javascript">
      smoothScroll.init({
        speed: 500, // Integer. How fast to complete the scroll in milliseconds
        easing: 'easeInOutCubic', // Easing pattern to use
        offset: 20, // Integer. How far to offset the scrolling anchor location in pixels
      });
    </script>
    <!-- <script src="{{ " /js/scroll.min.js " | prepend: site.baseurl }}" charset="utf-8"></script> -->
  </body>

</html>
