---
layout: default
---

<div class="post-content well">
<article class="content">
    <!--网易插件统计浏览阅读次数和访客量-->
    <br/>
        <a class="cloud-tie-join-count" href="javascript:void(0);" style="color:gray;font-size:14px;">
        <span class="icon-sort"></span>
        <span id="busuanzi_container_page_pv" style="color:#ef7522;font-size:14px;">
            阅读数: <span id="busuanzi_value_page_pv"></span>次 &nbsp;&nbsp;
        </span>
        </a>
        <a class="cloud-tie-join-count" href="javascript:void(0);" style="color:#ef7522;font-size:14px;">
            <span class="icon-comment"></span>
            <span class="join-text" style="color:#ef7522;font-size:14px;">评论数:</span>
            <span class="join-count">0</span>次
        </a>
    <div class="post">{{ content }}</div>
    <hr />
    {% include share-page.html %}
</article>

<br/>

<!---############################################################################################################################--->

    <div id="rotate">
            <ul>
                <li><a href="#fragment-1"><span>Section 1</span></a></li>
                <li><a href="#fragment-2"><span>Section 2</span></a></li>
            </ul>
            <div id="fragment-1">
                <!--netease-->
						 <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
									<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
									<script>
										var cloudTieConfig = {
												url: document.location.href, 
												sourceId: "",
												productKey: "14f7fedac9ee40c2b79116f0e0bb678a",
												target: "cloud-tie-wrapper"
												};
										var yunManualLoad = true;
										Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);
									</script>
			   
            </div>
            <div id="fragment-2">
               <div id="disqus_thread"></div>
									<script type="text/javascript">

										/**
									     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
			                             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                                        /*
											var disqus_config = function () {
											this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
										    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
											};
                                         */
                                        (function() { // DON'T EDIT BELOW THIS LINE
                                           var d = document, s = d.createElement('script');
										   s.src = 'https://frankdevhub-github-io.disqus.com/embed.js';
                                           //s.src = 'https://disqus.com/embed.js';
											s.setAttribute('data-timestamp', +new Date());
											(d.head || d.body).appendChild(s);
											})();
											</script>
											<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
																		</div>
            </div>
    </div>



<!---############################################################################################################################--->




<!---############################################################################################################################--->
 <!---

 <div id="tabs">
                        	<ul>
                                <li><a href="#tabs-1">Netease</a></li>
                                <li><a href="#tabs-2">Disqus</a></li>                 
                            </ul>
                            <div id="tabs-1">
                                <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
								<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
								<script>
									var cloudTieConfig = {
											url: document.location.href, 
											sourceId: "",
											productKey: "14f7fedac9ee40c2b79116f0e0bb678a",
											target: "cloud-tie-wrapper"
											};
									var yunManualLoad = true;
									Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);
								</script>
                            </div>
                            <div id="tabs-2">
                              <div id="disqus_thread"></div>
									<script type="text/javascript">

										/**
									     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
			                             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                                        /*
											var disqus_config = function () {
											this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
										    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
											};
                                         */
                                        (function() { // DON'T EDIT BELOW THIS LINE
                                           var d = document, s = d.createElement('script');
										   s.src = 'https://frankdevhub-github-io.disqus.com/embed.js';
                                           //s.src = 'https://disqus.com/embed.js';
											s.setAttribute('data-timestamp', +new Date());
											(d.head || d.body).appendChild(s);
											})();
											</script>
											<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
																		</div>
															
				</div>

-->




 <!--
 <div id="disqus_thread"></div>
<script type="text/javascript">

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://frankdevhub-github-io.disqus.com/embed.js';
//s.src = 'https://disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
-->




<!--

    <div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}" data-url="{{ page.url }}"></div>  


<script type="text/javascript">  
var duoshuoQuery = {short_name:"orangleliu"};  
    (function() {  
        var ds = document.createElement('script');  
        ds.type = 'text/javascript';ds.async = true;  
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';  
        ds.charset = 'UTF-8';  
        (document.getElementsByTagName('head')[0]   
         || document.getElementsByTagName('body')[0]).appendChild(ds);  
    })();  
    </script>  
 -->



<hr />
{% assign hasSimilar = '' %}
{% for post in site.posts  %}
    {% assign postHasSimilar = false %}
    {% for tag in post.categories %}
        {% for thisTag in page.categories %}
            {% if postHasSimilar == false and hasSimilar.size < 6 and post != page and tag == thisTag %}
                {% if hasSimilar.size == 0 %}
                <div class="panel-body">
                <h4>Related Posts</h4>
                <ul>
                {% endif %}
                <li class="relatedPost">
                    <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                    {% if post.categories %}
                        <small>(Categories: {% for category in post.categories %}<a href="/category/{{ category }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %})</small>
                    {% endif %}
                </li>
                {% capture hasSimilar %}{{ hasSimilar }}*{% endcapture %}
                {% assign postHasSimilar = true %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endfor %}
{% if hasSimilar.size > 0 %}
    </ul>
    </div>
{% endif %}

<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev pull-left" href="{{ site.url }}{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next pull-right" href="{{ site.url }}{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
  {% endif %}
  
   <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js">
		</script>
	
</div>

